body{
    font-family: cursive,sans-serif;
}

.usersList{
    background-color: #34e7ffb4;
    display: flex;
    border-radius: 30px;
    justify-content: space-around;

    
}

.containerImg{
    align-items: center;
    justify-content: right;
    margin: 10px;
}

.userName{
    margin-left: 5px;
}

.idUser{
    justify-content: center;
    margin-left: 35px
;
}

.img{
    border-radius: 50px;
    display: flex;
    margin: auto;
}

.containerList{
    background-color: rgb(5, 126, 15);
    width: auto;
    border: #34e7ffb4;
    border-style: solid;
    border-radius: 20px;
    
}

.h2{
   align-self: center;
   color: rgb(32, 38, 32);
   font-size: x-large;
}

.button{

    background-color: green;
    color:aquamarine;
    border-radius: 50px;
    height: 14vh;
    width: 14vw;
    font-size: x-large;
}

.button:hover{
    cursor: pointer;
    height: 16vh;
    width: 16vw;

}

.second_button{

    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 14vh;
    width: 90%;
    margin-top: 2vh;
    font-size: larger;
    color: aquamarine;


}

.second_button:hover{
    cursor: pointer;
    width: 100% ;
    height: 15vh;


}

.divButton{
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.cardsModal{
    border: 1px solid black;
    background-color: aquamarine;
    width: 40%;   
    position: fixed;
    left: 30vw;
    top: 21.5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    align-content: space-around;
    padding: 5px;
    border-radius: 10px;
    color: rgb(3, 89, 3);
    
    }

    .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        
    }

    .modalA{
        position: fixed;
        top: 5px;
        left: 10%;
        margin: auto;
        width: 80%;
        justify-content: center;
        color: aquamarine;
        
        background-color: blueviolet;
    }

    
    .modalD{
        position: fixed;
        top: 5px;
        left: 10%;
        margin: auto;
        width: 80%;
        justify-content: center;
        color: aquamarine;
        
        background-color: red;
    }

@media screen and (max-width: 414px) {

    .usersList{
        display: flex;
        flex-wrap: wrap;
    }

    .h2{
        margin: 0 0 1vh 0;
        display: flex;
        justify-content: center;
        width: 100%;
        

    }

    .divButton{
        min-width: 110px;
        margin: auto;
        justify-content: center;
        padding-bottom: 8px;
    }

    .button {
        min-width: inherit ;
    }

    .cardsModal{

        min-width: fit-content;
    }
    
}