body{
    font-family: cursive,sans-serif;
}

.usersList{
    background-color: #34e7ffb4;
    display: flex;
    border-radius: 30px;
    justify-content: space-around;

    
}

.containerImg{
    align-items: center;
    justify-content: right;
    margin: 10px;
}

.userName{
    margin-left: 5px;
}

.idUser{
    justify-content: center;
    margin-left: 35px
;
}

.img{
    border-radius: 50px;
    display: flex;
    margin: auto;
}

.containerList{
    background-color: rgb(5, 126, 15);
    
}

.h2{
   align-self: center;
   color: rgb(32, 38, 32);
}

.button{

    background-color: green;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.button:hover{
    cursor: pointer;
    height: 60px;
    width: 120px;

}

.divButton{
    display: flex;
    margin-left: 50px;
    align-items: center;
}